<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">



  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold nav-brand">Galleria</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>A TWO-in-ONE Store. Buy or Sell something Today! Speak directly to the seller. Sell something in your community and make money</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Laptop</a>
        </p>
        <p>
          <a href="#!">Smartphone</a>
        </p>
        <p>
          <a href="#!">Headphone</a>
        </p>
        <p>
          <a href="#!">Speaker</a>
        </p>
        <p>
          <a href="#!">Camera</a>
        </p>
        <p>
          <a href="#!">Desktop</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

        <p>
          <i class="fas fa-envelope mr-3"></i> suyetasaha7@gmail.com</p>

          <p>
            <i class="fas fa-envelope mr-3"></i> gourab3saha@gmail.com</p>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color: #6351ce;"">© 2020 Copyright:Galleria

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>
